<div class="footer-container">
  <span
    ><strong i18n
      >© Septiembre 2024 Manuel Polo Editorial, S.L.U. Todos los derechos
      reservados.</strong
    ></span
  >
  <div class="sub-footer">
    <span i18n>Política de cookies </span>
    <span i18n>Configuracion de Cookies</span>
    <span i18n>Politica de privacidad</span>
    <span i18n>Términos y condiciones de uso</span>
    <span i18n>Certificado por OJD</span>
    <span i18n>Contacto</span>
    <span i18n>Publicidad</span>
  </div>

  <span><strong i18n>Siguenos en:</strong></span>
  <div class="sub-footer">
    <img src="facebook.svg" >
    <img src="x.svg" >
    <img src="instagram.svg" >
    <img src="tiktok.svg" >
    <img src="youtube.svg" >
    <img src="rss.svg" >
  </div>
</div>
