<div class="navbar-container">
  <ul class="menu-container">
    <div class="not-highlight">
      <li>
        <a
          href="https://www.marca.com/futbol.html?intcmp=MENUPROD&amp;s_kw=futbol" i18n
        >
          Fútbol<i class="iconsvg iconsvg-down-b"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.marca.com/baloncesto.html?intcmp=MENUPROD&amp;s_kw=baloncesto" i18n
        >
          Baloncesto<i class="iconsvg iconsvg-down-b"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.marca.com/motor.html?intcmp=MENUPROD&amp;s_kw=motor" i18n
        >
          Motor<i class="iconsvg iconsvg-down-b"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.marca.com/polideportivo.html?intcmp=MENUPROD&amp;s_kw=polideportivo" i18n
        >
          Polideportivo<i class="iconsvg iconsvg-down-b"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.marca.com/coches-y-motos.html?intcmp=MENUPROD&amp;s_kw=marca-coches"
        >
          Coches<i class="iconsvg iconsvg-down-b"></i>
        </a>
      </li>
    </div>
    <div class="highlight">
      <li>
        <a
          href="https://www.marca.com/ultimas-noticias.html?intcmp=MENUDEST&amp;s_kw=ultimas-noticias" i18n
          >Última hora</a
        >
      </li>
      <li>
        <a
          href="https://www.marca.com/juega-fantasy.html?intcmp=MENUDEST&amp;s_kw=fantasy" i18n
          >Fantasy</a
        >
      </li>
      <li>
        <a
          href="https://www.marca.com/programacion-tv.html?intcmp=MENUDEST&amp;s_kw=agenda-tv" i18n
          >Agenda TV</a
        >
      </li>
    </div>
  </ul>
</div>
